@charset "UTF-8";

/* Esse estilo ira fixar a posição dos potões deixar ele 0 pixeis a direita (ficara a extrema direita, 0 % do top (ficara encostado no topo) tera 8em de largura (referente ao tamanho do pixel) margin do topo tera -2.5 em*/
#menu {
    position: fixed;
    right: 0;
    top: o;
    width: 8em;
    margin-top: -2.5em;
    font-family: serif;
}
/* Esse estilo ira dar coloração a lista e tirar o estilo de lista*/
#menu ul{ 
    padding: 0px;
    margin: 0px;
   /* background-color: #ededed; */
    list-style: none;
}
/* Esse estilo ira deixar o menu horizontal*/
#menu ul li {
    display: inline;
}
/* Esse estilo tranforma o display em um bloco colore ele, tira o sublinhado e colocar um borda*/
#menu ul li a {
    padding: 2px 35px;
    display: inline-block;
    
    /*visual do link*/
    /*background-color: #ededed;*/
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    /*border-bottom: 3px solid #EDEDED;*/
}
/* Esse estilo se ativa quando o mouse passa em cima do menu, dando outro estilo para ele*/
#menu ul li a:hover {
/*background-color: #d6d6d6;*/
color: #6d6d6d;
/*border-bottom: 3px solid #ea0000;*/
}
/*Ter 100% da largura e 100% da altura*/

/* Modal logo*/
.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}
/* modal-conteiner e mostrar estão sepadados, ele quer dizer que a ação irá acontecer quando o modal-conteiner tiver o mostrar dentro da classe. Juntos, quando o modal estiver dentro da mesma classe */
.modal-container.mostrar {
    display: flex;
}
.modal {
    background: white;
    width: 60%;
    max-width: 500px;
    padding: 40px;
    border: 1px;
    box-shadow: 7px 7px 7px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 20px;
}

.mostrar .modal{
    animation: modal .3s;
}

.fechar {
    position: absolute;
    font-size: 1.5em;
    top: -12px;
    right: -12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    background: rgb(97, 89, 90);
    color: white;
    font-family: monospace;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    animation: fechar 1.2s;
    opacity: 0.8;
}

.logo {
    cursor: pointer;
}


/* Modal contato */
.modal-containerc{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-containerc.mostrarc {
    display: flex;
}
.modalc {
    background: white;
    width: 60%;
    max-width: 300px;
    padding: 40px;
    border: 1px;
    box-shadow: 7px 7px 7px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 20px;
    
}

.mostrarc .modalc{
    animation: modal .3s;
}

.fecharc {
    position: absolute;
    font-size: 1.5em;
    top: -12px;
    right: -12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    background: rgb(97, 89, 90);
    color: white;
    font-family: monospace;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    animation: fechar 1.2s;
    opacity: 0.8;
}

/* Animação 3d */
@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fechar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px,0);
    }
    to{
        opacity: 0.8;
        transform: translate3d(0, 0, 0);
    }
}

/* Estilo do icone */

.ico {
    padding-top: 1px;
    animation: modal 1s;
    
}
.ico a {
    display: inline-block;
    padding-left: 15px;
    top: -8px;
    position: relative;
    text-decoration: none;

}
.ico :hover {
    color: pink;
}

/* coloração dos contatos*/
#w {
    color: rgb(35, 168, 35);
}
.ico #w:hover{
    color: rgb(104, 100, 100);
} 
#i {
    color: rgb(97, 23, 97);
}
.ico #i:hover{
    color: rgb(104, 100, 100);
} 
 
/*Estilo de letras*/
.apr {
top: -20px;
text-align: center;
animation: modal 1s;
position: relative;
text-transform: uppercase;
}
.justificar {
    text-align: center;
    animation: modal 1s;
    top: -20px;
    position: relative;
}